// Responsive

@media (max-width: 1300px) {
	#header {
		.header-nav {
			.logo {
				a {
					display: block;
					padding: 0 30px;
				}
			}

			.menu {
				padding: 0 20px;

				.nav {
					ul {
						li > a {
							padding: 0 12px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	#header {
		.header-nav {
			.contato {
				display: none;
			}
		}
	}

	#home {
	}
}

@media (max-width: 992px) {
	#header {
		.header-nav {
			.logo {
				margin: 10px 0px;
			}

			.menu {
				display: none;
			}
		}
	}

	#home {
		.boxes {
			.card {
				h3 {
					font-size: 20px;
				}
			}
		}

		.servicos {
			.servico {
				.icon-img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	#quem-somos {
		.content {
			ul {
				li {
					width: 49%;
				}
			}
		}
	}

	#servicos {
		.page-title-content {
			h1 {
				font-size: 40px;
			}
		}

		.content {
			.info {
				.icon-img {
					width: 275px;
					height: 275px;
					margin-top: -120px;
				}
			}
		}
	}
}

@media (max-width: 800px) {
}

@media (max-width: 767px) {
	#header {
		.header-top {
			height: auto;
			text-align: center;
			padding: 6px 0;

			.content {
				.top-right {
					ul.socials {
						text-align: center;
					}
				}
			}
		}
	}

	#home {
		.boxes {
			margin-top: 0px;

			.card {
				margin: 20px 0;

				img {
					margin-top: 0px;
				}
			}
		}
	}

	#servicos {
		.content {
			.segmentos {
				.servico-image {
					margin-top: 20px;
				}
			}

			.info {
				.icon-img {
					width: 150px;
					height: 150px;
					margin: 0;
					margin-bottom: 25px;
				}

				.outros-servicos {
					.item {
						.icon {
							img {
								width: 60px;
							}
						}

						.titulo {
							h4 {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 650px) {
}

@media (max-width: 576px) {
	.d-xs-none {
		display: none !important;
	}

	#header {
		.side-menu {
			width: 60%;
		}
	}

	#quem-somos {
		.content {
			ul {
				li {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 500px) {
}

@media (max-width: 450px) {
	.page-title-content {
		h1 {
			font-size: 35px;
		}
	}

	.title-section {
		h2 {
			font-size: 40px;
		}
	}

	#header {
		.header-nav {
			.logo {
				a {
					img {
						max-height: 50px;
						max-width: inherit;
					}
				}
			}
		}
	}

	#home {
		.servicos {
			.servico {
				.icon-img {
					width: 180px;
				}
			}
		}
	}

	#servicos {
		.content {
			.title-section h2 {
				font-size: 36px;
			}
			
			.segmentos {
				.servico-image {
					margin-top: 0px;
				}
			}
			.info {
				.outros-servicos {
					.item {
						.icon {
							img {
								width: 70px;
							}
						}

						.titulo {
							h4 {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 360px) {
}
